/* Move down content because we have a fixed navbar that is 50px tall */

.container {
  background: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.main {
  padding-bottom: 32px;
}

.navbar {
  margin-bottom: 0px;
}

.main {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
  padding-top: 0px;

  background-color: rgb(244,231,219);
  background-image: url(xu-wei-bamboo.jpg);
  background-repeat: no-repeat;
  background-position: bottom -70px left;
  background-attachment: fixed;

  font-size: 16px;
}

.form-control {
  background: #ffffff;
}

.table.table-no-sep td {
  border-top: none;
}

tr.table-sep td {
  border-top: 1px solid #DDD;
}

.status-rejected {
  color: #b06060;
}

.status-granted {
  color: #60b060;
}

.status-default {
  color: #6060b0;
}

.hlurl {
  color: #777;
}

.hlurl .domain {
  color: #000;
}

/*
 * Main content
 */


#collectionsTable textarea {
    width: 100%;
    height: 180px;
}

/* Collapse description headings down a bit so they don't take over the page */

.description h1 {
  font-size: 36px;
}

.description h2 {
  font-size: 32px;
}

.description h3 {
  font-size: 28px;
}

.description h1 a, .description h2 a, .description h3 a, .description h4 a, .description h5 a, .description h6 a {
  color: #444;
}

.alert a:not(.close) {
  text-decoration: underline;
}

/*
 * Improve contrast around text fields.  Our bootstrap's themes defaults are hard to see
 * on some screens.
 */
textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"],
    input[type="number"], .form-control[type="text"], .form-control[type="password"], .form-control[type="email"],
    .form-control[type="tel"], .form-control[contenteditable] {
  border: 1px solid #d1d1d1;
  box-shadow: none;
}

.panel-heading h3 {
  padding-top: 8px;
}
