/* Move down content because we have a fixed navbar that is 50px tall */

.container {
  background: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.navbar {
  margin-bottom: 0px;
}

.main {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
  padding-top: 0px;

  background-color: rgb(244,231,219);
  background-image: url(xu-wei-bamboo.jpg);
  background-repeat: no-repeat;
  background-position: bottom -70px left;
  background-attachment: fixed;

  font-size: 16px;
}

.form-control {
  background: #ffffff;
}


/*
 * Main content
 */


#collectionsTable textarea {
    width: 100%;
    height: 180px;
}

/* Collapse description headings down a bit so they don't take over the page */

.description h1 {
  font-size: 36px;
}

.description h2 {
  font-size: 32px;
}

.description h3 {
  font-size: 28px;
}

.description h1 a, .description h2 a, .description h3 a, .description h4 a, .description h5 a, .description h6 a {
  color: #444;
}